.total-price-container {
    margin: 30px;
    padding: 20px;
    float: right;
}

.line-after-cart {
    width: 93%;
    height: 3px;
}

.cart-header {
    color: rgb(238, 139, 10);
    font-size: 60px;
}

.item-row {
    background-color: rgb(233, 255, 255);
    padding: 8px;
    margin: 3px;
    border-radius: 10px;
}

.total-price {
    font-weight: bold;
    font-size: 20px;
}

.remove-arrow {
    -webkit-appearance: none !important;
    margin: 0 !important;
}