.item-header {
    color: blue;
    font-weight: bold;
}

.item-price {
    color: red;
}

.item {
    border: rgb(206, 196,
            196) 3px groove;
    padding: 10px;
    border-radius: 10px;
}

.navbar-item {
    font-weight: bold;
    color: rgb(29, 22, 27);
}

.all-nav {
    background-color: rgb(214, 219, 219);
    /* color: black; */
}

body {
    position: relative;
    z-index: 1;
}

.cartbtn {
    background-color: rgba(224, 93, 17, 0.5);
    position: fixed;
    top: 50%;
    right: 0%;
    z-index: 2;
}