.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 25px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: grey;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.border {
  border-radius: 15px;
  border: solid;
  border: gray;
}

.product-name {
  font-size: 23px;
  font-weight: bold;
}

.product-cat {
  font-size: 25px;
  font-weight: bold;
}

.product-desc {
  font-size: 19px;
}

.product-price {
  font-size: 30px;
  /* font-weight: bold; */
}

.stoke {
  font-size: 23px;
  font-weight: bold;
}


.side-info {
  border: rgb(167, 148, 148) solid 1px;
  border-radius: 10px;
}